.taskCompleted {
    text-decoration: line-through !important;
    color: #b4b4b4 !important;
}

#task {
    color: #333;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: row !important;
}

#task.taskCompleted {
    background-color: rgb(153, 153, 153);
}

#toolbar {
    display: flex;
    justify-content: space-between;
}

#toolbar, #addtask, #modal-title {
    color: #FFFFFF;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, 
.MuiOutlinedInput-notchedOutline, 
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #FF8F00 !important;
}

#modal {
    background-color: #333;
    border: 2px solid #FF8F00;
}

.css-1cj0fk2-MuiButtonBase-root-MuiRadio-root.Mui-checked.done-filter-input, 
.css-194oywu.Mui-checked {
    color: #FFFFFF !important;
}

.css-3o0168-MuiTypography-root, .css-1qi9vj3 {
    font-size: .8rem !important;
}

